@media (max-width: 991px) {
  .container {
    display: flex;
    flex-direction: column !important;
    justify-content: center;

    .carousel {
      width: 100% !important;
    }

    .advert {
      flex-direction: row !important;

      width: 100% !important;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .carousel {
    width: 80%;
  }

  .advert {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 20%;
    padding-left: 5px;

    a {
      cursor: pointer;
    }
  }
}
