@media (max-width: 768px) {
  .news_card {
    .card {
      .news_card_body {
        flex-direction: column !important;
      }
    }
  }
}

.news_card {
  .card {
    text-align: start;
    word-wrap: break-word;
    background: var(--background-color);

    .news_card_body {
      display: flex !important;
      flex-direction: row;
      gap: 20px;

      .img_container {
        min-width: 350px !important;
        height: 233px;
      }

      .news_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        min-height: 233px;

        .card_text {
          word-wrap: break-word;
          word-break: break-all;
          min-height: 233px;
          padding: 20px;
        }

        .news_tags {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;

          .tag {
            width: auto;
            min-width: 100px;
            margin-right: 20px;

            background: #154ec9;

            text-align: center;

            background: rgb(31, 54, 133);
            color: white;
            border-radius: 3px;

            padding: 2px;
            margin: 5px;
          }
        }
      }
    }

    .card_footer {
      display: flex;
      justify-content: space-between;

      .tags {
        background: #154ec9;
        margin-right: 10px;
      }

      button {
        background: #154ec9;
        margin: 5px;
      }
    }
  }
}

.news_page {
  h1 {
    font-size: 2.5rem !important;
  }

  .slider_container {
    margin: auto;
    display: flex;

    justify-content: flex-start;

    .news_slider {
      width: 700px;
      height: 466px;
    }
  }

  .news_tags {
    display: flex;
    justify-content: flex-start;
  }
}
