@media (max-width: 992px) {
  .person_page {
    font-size: 1rem;
    .content {
      display: flex;
      flex-direction: column;

      .info {
        padding: 0 !important;
      }
    }
  }
}

@media (max-width: 565px) {
  .card {
    .body {
      flex-wrap: wrap;
    }
  }
}

.person_page {
  .content {
    display: flex;
    justify-content: flex-start;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 20px;
    }

    .contacts {
    }
  }

  .images {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    span {
      margin: 0 0 20px 0 !important;
    }
  }
}

.card {
  cursor: pointer;
  width: 600px;
  margin: 10px 0 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  color: var(--title-color);

  .header {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 10px 10px 0 0;

    height: 100px;

    display: flex;
    align-items: center;

    padding: 20px;

    .card-title {
      display: flex;
      align-items: center;
      font-size: 1rem !important;
    }
  }

  .body {
    display: flex;
    flex-direction: row;

    .img_container {
      width: 100%;
      max-width: 300px !important;
      span {
        position: unset !important;
        .image {
          object-fit: contain;
          width: auto !important;

          position: relative !important;
          height: unset !important;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-left: 20px;
      padding: 20px 20px 20px 0;

      font-size: 20px;
      font-weight: 700;
      line-height: normal;

      .surname {
        text-transform: uppercase;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.03);
    height: 70px;

    padding: 20px;
  }
}

.person {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;

  gap: 20px;
}
