:root[data-theme="dark"] {

  --carousel-display: none;

  --background-color: #ececec;

  //images
  --image-grayscale: grayscale(0.85);

  //buttons
  --button-background: #e5e5e5;
  --button-font-color: #000000;

  //
  --font-color: #000000;

  //header
  --header-bg-color: #ececec;
  --header-a-color: #000000;

  //footer
  --background-color-footer: #ececec;

  --card-footer-bg-color: rgb(0, 0, 0);
 
  * {
    color: #000000;
    letter-spacing: 3px;
    font-weight: 800 !important;
  }

}