:root {

  //переменные display для картинок

  //переменные для размера шрифта
  --font-size-theme1: 1rem;
  --font-size-theme2: 2rem;

  --font-size-a1: 15px;
  --font-size-a2: 25px;
  --font-size-a3: 35px;

  --font-size-h1-theme1: 2.25rem;
  --font-size-h2-theme1: 2rem;
  --font-size-h3-theme1: 1.75rem;
  --font-size-h4-theme1: 1.5rem;
  --font-size-h5-theme1: 1.25rem;
  --font-size-h6-theme1: 1rem;

  --font-size-h1-theme2: 2.75rem;
  --font-size-h2-theme2: 2.5rem;
  --font-size-h3-theme2: 2.25rem;
  --font-size-h4-theme2: 2rem;
  --font-size-h5-theme2: 1.75rem;
  --font-size-h6-theme2: 1.5rem;

  //переменные для размера шрифта
  --font-color-theme1: #000000;
  --font-color-theme2: #ffffff;

  //переменные для letter-spacing
  --letter-spacing-a1: 2px;
  --letter-spacing-a2: 4px;
  --letter-spacing-a3: 5px;

  //переменные для цвета фона
  --bacground-color-black: #5a5a5a;
  --background-color-white: #ffffff;

  // темная
  --background-color-header-top-content-theme2: rgb(0, 0, 0);
  --background-color-header-theme2: #565656;
  --background-color-theme2: #4b4b4b;
  --font-size-theme2: 30px !important;

  --title-color-theme2: white;

  --background-color-footer-theme2: rgb(93, 93, 93);

  //значения по умолчанию
  --background-color-header: var(--background-color-header-theme1)
  --background-color-header-top-content: var(--background-color-header-top-content-theme1);

  //значение для цвета шрифта
  --font-color: var(--font-color-theme1)

  --font-size: var(--font-size-theme1)

  --font-size-h1: 2.25rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;

  // --background-color: var(--background-color-theme1)

  // --title-color: white;
  // --background-color-footer: var(--background-color-footer-theme1)
  // --image-display: var(--image-display-theme1)

}