@media (max-width: 1110px) {
  .footer {
    width: 100vw !important;
  }
}

.footer {

  a {
    color: var(--header-a-color);
  }

  font-size: calc(1rem + 5px);
  margin: auto;
  line-height: 2.5rem;

  color: white;

  .jurinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .social_media {
        display: flex;
        gap: 20px;
        line-height: normal;

      }
    }

  }

  .type {
    font-size: calc(1vw + 1px);
  }

  .contacts {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;


      font-size: 20px;
      font-weight: 600;

      height: 40px;

      p {
        font-size: 18px;
        margin: 0 0 0 15px;
      }
    }

    img {
      width: 30px;
    }


  }

  .licence {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 20px;

    p {
      font-size: 20px;
    }
  }
}