@media (max-width: 544px) {
  
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px;
  //box-shadow: drop-shadow(5px 5px 5px 5px rgb(197, 197, 197));
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  height: max-content;
  min-width: 350px !important;
  background: var(--background-color-footer);

  .link {
    font-size: 1.1rem;

    &:hover {
      transform: scale(1.05);
      transition-duration: 500ms;

      color: white;
    }
    a {
      margin-left: 15px;
      font-weight: 900;

      &:hover {
        color: white;
      }
    }
  }
}
