@media (max-width: 991px) {
  .activity {
    justify-content: center !important;
  }

  .management {
    .headOf {
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: flex-start !important;
    }
  }
}

.activity {
  width: 100%;

  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.textinfo p {
  font-size: calc(1vw + 10px);
  line-height: 30px;
  text-align: justify;
  word-wrap: break-word;
}

.documents {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: start;
  line-height: normal;
  margin-top: 40px;
  margin-bottom: 40px;
}

.documentCard {
  color: #154ec9;
  margin-top: 10px;
  margin-bottom: 10px;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.management {
  .headOf {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }
}

.structure {
  width: 100%;
  max-width: 700px !important;
  min-width: 300px;

  margin: auto;

  span {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: auto !important;

    position: relative !important;
    height: unset !important;
  }
}
